robotframework==6.1.1
robotframework-pabot==2.16.0
robotframework-requests==0.9.5
robotframework-jsonlibrary==0.5
robotframework-datadriver==1.4.1
robotframework-databaselibrary
robotframework-faker
robotframework-seleniumlibrary
robotframework-localization
RobotFramework-PropertyFile
robotframework-appiumlibrary==2.0.0
Appium-Python-Client==3.2.1